<head>
  <style>

  </style>
</head>
<body>
  <div class="container" id="container-form">
    <div class="row col-md-12 align-items-start justify-content-center">
        <div class="col">
        </div>
        <div class="col-md-6 align-self-center w-50">
          <img src="../shared/images/logo.jpg" class="avatar" alt="Avatar Image">
            <form [formGroup]="validator" class="needs-validation p-4" id="main-container" (ngSubmit)="IdentificarUsuario(contenido)">
              <div class="row container text-center mb-4 mt-4">
                  <h4>Inicio de sesión</h4>
              </div>
              <div class="row align-items-start">
                <div class="col">
                  <div class="form-floating mb-3">
                    <input formControlName="usuario" type="text" class="form-control"
                    [ngClass]="(validator.controls['usuario'].touched || validator.controls['usuario'].dirty) && validator.controls['usuario'].errors ? 'is-invalid' : '' "
                    id="Nombres" placeholder="Nombre usuario" required>
                    <label for="Nombres">Nombre de usuario</label>
                    <div class="invalid-feedback">
                      Este campo es requerido
                    </div>
                  </div>
                </div>
              </div>
              <div class="row align-items-start">
                <div class="col">
                  <div class="form-floating mb-3">
                    <input formControlName="clave" type="password" class="form-control"
                    [ngClass]="(validator.controls['clave'].touched || validator.controls['clave'].dirty) && validator.controls['clave'].errors ? 'is-invalid' : '' "
                    id="Clave" placeholder="1234567890" required>
                    <label for="Clave">Contraseña</label>
                    <div class="invalid-feedback">
                      Este campo es requerido
                    </div>
                  </div>
                </div>
              </div>
              <div class="row align-items-start mt-3">
                  <div class="align-items-center container w-100 d-flex justify-content-center">
                      <button [disabled]="!validator.valid" type="submit" class="btn btn-primary p-3 w-75">Ingresar</button>
                  </div>
              </div>
              <div class="row align-items-start mt-3">
                <div class="align-items-center container w-100 d-flex justify-content-center">
                    <a href="">¿Olvidó su contraseña?</a>
                </div>
              </div>
              <div class="row align-items-start mt-3">
                <div class="align-items-center container w-100 d-flex justify-content-center">
                    <a routerLink="/usuarios/registro">Registrarse</a>
                </div>
              </div>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
  </div>

  <!-- Modal -->
  <ng-template #contenido let-modal>
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Error de inicio de sesión</h1>
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="close" (click)="CerrarModal()"></button>
    </div>
    <div class="modal-body">
      El usuario o la contraseña no son válidos.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="CerrarModal()" data-bs-dismiss="modal">Cerrar</button>
    </div>
  </ng-template>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="scripts.js"></script>

</body>
