<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Iniciar sesion | MascotaFelizG5</title>
    <!--<link rel="stylesheet" href="/css/mascota.css">-->
  </head>
  <body>

    <div class="login-box">
      <img src="img/logomascota.png" class="avatar" alt="Avatar Image">
      <h1>MascotaFelizG5</h1>
      <form>
        <!-- NOMBRE USUARIO INPUT -->
        <label for="NombreUsuario">Nombre Usuario</label>
        <input type="text" placeholder="Digite Usuario">
        <!-- CLAVE INPUT -->
        <label for="Clave">Clave</label>
        <input type="password" placeholder="Digite Clave">
        <input type="submit" value="Iniciar sesion">
        <a href="#">Olvido su contraseña?</a><br>
        <a href="#">Registrarse?</a>
      </form>
    </div>
  </body>
</html>
