<!DOCTYPE html>
<html lang="en">
<head>
<title>Superfresh Bootstrap Template</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<!--
Superfresh Template
http://www.templatemo.com/free-website-templates/
-->
<!-- stylesheet css
<link rel="stylesheet" href="../../../shared/css/bootstrap.min.css">
<link rel="stylesheet" href="../../../shared/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../shared/css/nivo-lightbox.css">
<link rel="stylesheet" href="../../../shared/css/nivo_themes/default/default.css">
<link rel="stylesheet" href="../../../shared/css/templatemo-style.css">-->
<!-- google web font css -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body data-spy="scroll" data-target=".navbar-collapse" id="top">
<!-- navigation -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container" style="display: flex;">
    <div class="navbar-header">
      <img src="../shared/images/logo.jpg" class="logo">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon icon-bar"></span> <span class="icon icon-bar"></span> <span class="icon icon-bar"></span></button>
      <a href="#" class="navbar-brand">Mascota Feliz</a></div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home" class="smoothScroll">INICIO</a></li>
        <li><a href="#service" class="smoothScroll">NOSOTROS</a></li>
        <li><a href="#pricing" class="smoothScroll">PLANES Y PRODUCTOS</a></li>
        <li><a href="#contact" class="smoothScroll">CONTÁCTANOS</a></li>
      </ul>
    </div>
    <div style="margin-left: 50px;display: flex;align-items: center;padding-bottom: 10px;">
      <button class="btn btn-warning" style="font-size: 15px;font-weight: bold" (click)="ingresar()">INICIAR SESIÓN</button>
    </div>
  </div>
</div>
<!-- home section -->
<div id="home">
  <div class="container">
    <!--<div class="row">
      <div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">
        <h2>welcome to</h2>
        <h1>Superfresh <strong>Design Studio</strong></h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
        <a href="#service" class="btn btn-default smoothScroll">GET STARTED</a></div>
    </div>-->
  </div>
</div>
<!-- service section -->
<div id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2>Mascota Feliz</h2>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="../shared/images/mision-logo.jpg" class="logo-mision">
        <h3>Misión</h3>
        <p>Brindar a los Pacientes y a sus Familiares servicios dignos con calidez y excelencia para otorgar los mejores tratamientos médicos hospitalarios, con las  habilidades, destrezas y uso de nuevas tecnologías en la  Medicina Veterinaria</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="../shared/images/vision-logo.jpg" class="logo-mision">
        <h3>Visión</h3>
        <p>Ser un Centro Veterinario reconocido por regirse con normas de bienestar animal y de excelencia profesional. Convertir al Centro veterinario y a sus servicios diagnósticos y farmacéuticos como principal punto de referencia de la región.</p>
      </div>
    </div>
  </div>
</div>
<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<!-- about section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2>ACERCA DE NOSOTROS</h2>
      </div>
      <div class="col-md-6 col-sm-6"><img src="../shared/images/about-img.jpg" class="img-responsive" alt="about img"></div>
      <div class="col-md-6 col-sm-6">
        <h3>Nuestra trayectoria</h3>
        <h4>Mascota feliz</h4>
        <p>Somos una clínica veterinaria, que cuenta con un equipo de trabajo especializado en el área, para atender desde la necesidad más básica de tu mascota hasta la más urgente.</p>
        <p>Brindamos siempre apoyo y acompañamiento integral en todos los procesos, nuestro actuar siempre ético y honesto nos caracteriza. A la hora de fidelizar, queremos que los amigos peludos con sus colas y sus emociones elijan  donde quieren estar.</p>
      </div>
    </div>
  </div>
</div>
<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<!-- team section -->
<div id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2>Nuestro equipo de trabajo</h2>
      </div>
      <div class="col-md-1 col-sm-1">
      </div>
      <div class="col-md-2 col-sm-2"><img src="../shared/images/team1.jpg" class="img-responsive" alt="team img">
        <h3>Edgar Medina</h3>
        <h4>Administrador</h4>
      </div>
      <div class="col-md-2 col-sm-2"><img src="../shared/images/team2.jpg" class="img-responsive" alt="team img">
        <h3>Julián Vargas</h3>
        <h4>Asesor</h4>
      </div>
      <div class="col-md-2 col-sm-2"><img src="../shared/images/team4.jpg" class="img-responsive" alt="team img">
        <h3>Sandra Sarria</h3>
        <h4>Veterinaria</h4>
      </div>
      <div class="col-md-2 col-sm-2"><img src="../shared/images/team4.jpg" class="img-responsive" alt="team img">
        <h3>Nancy Guzmán</h3>
        <h4>Asesora</h4>
      </div>
      <div class="col-md-2 col-sm-2"><img src="../shared/images/team3.jpg" class="img-responsive" alt="team img">
        <h3>Guillermo Fonseca</h3>
        <h4>Veterinario</h4>
      </div>
    </div>
  </div>
</div>
<!-- divider section -->
<!--<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>-->
<!-- portfolio section -->
<!--<div id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="title">
          <h2>Nuestro portafolio</h2>
        </div>-->
        <!-- ISO section -->
        <!--<div class="iso-section">
          <ul class="filter-wrapper clearfix">
            <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
            <li><a href="#" class="opc-main-bg" data-filter=".html">Html</a></li>
            <li><a href="#" class="opc-main-bg" data-filter=".photoshop">Photoshop</a></li>
            <li><a href="#" class="opc-main-bg" data-filter=".wordpress">Wordpress</a></li>
            <li><a href="#" class="opc-main-bg" data-filter=".mobile">Mobile</a></li>
          </ul>
          <div class="iso-box-section">
            <div class="iso-box-wrapper col4-iso-box">
              <div class="iso-box html photoshop wordpress mobile col-md-4 col-sm-4 col-xs-12"><a href="images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img1.jpg" alt="portfolio img"></a></div>
              <div class="iso-box html wordpress mobile col-md-4 col-sm-4 col-xs-12"><a href="images/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img2.jpg" alt="portfolio img"></a></div>
              <div class="iso-box wordpress col-md-4 col-sm-4 col-xs-12"><a href="images/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img3.jpg" alt="portfolio img"></a></div>
              <div class="iso-box html mobile col-md-6 col-sm-6 col-xs-12"><a href="images/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img4.jpg" alt="portfolio img"></a></div>
              <div class="iso-box wordpress col-md-6 col-sm-6 col-xs-12"><a href="images/portfolio-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img5.jpg" alt="portfolio img"></a></div>
              <div class="iso-box html photoshop col-md-4 col-sm-4 col-xs-12"><a href="images/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img6.jpg" alt="portfolio img"></a></div>
              <div class="iso-box photoshop col-md-4 col-sm-4 col-xs-12"><a href="images/portfolio-img7.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img7.jpg" alt="portfolio img"></a></div>
              <div class="iso-box wordpress col-md-4 col-sm-4 col-xs-12"><a href="images/portfolio-img8.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img8.jpg" alt="portfolio img"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<!-- pricing section -->
<div id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2>Planes</h2>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="plan">
          <div class="plan-title">
            <h3>Plan plata</h3>
            <small>$ 150.000 mensuales</small></div>
          <ul>
            <li>2 chequeos médicos mensuales</li>
            <li>Paseador</li>
            <li>Visitas domiciliarias</li>
            <li>Asesoría en nutrición</li>
          </ul>
          <button class="btn btn-warning">Adquirir</button>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="plan" style="background: blanchedalmond;">
          <div class="plan-title">
            <h3>Plan oro</h3>
            <small>$ 250.000 mensuales</small></div>
          <ul>
            <li>Todos los servicios del plan plata</li>
            <li>10 chequeos médicos mensuales</li>
            <li>Desparasitación</li>
            <li>Vacunas básicas</li>
            <li>Servicio de peluquería</li>
          </ul>
          <button class="btn btn-warning">Adquirir</button>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="plan">
          <div class="plan-title">
            <h3>Plan diamante</h3>
            <small>$ 350.000 mensuales</small></div>
          <ul>
            <li>Todos los servicios del plan plata y oro</li>
            <li>Chequeos médicos ilimitados</li>
            <li>Microchip</li>
            <li>Plan de vacunas completo</li>
            <li>Hospitalizaciones</li>
          </ul>
          <button class="btn btn-warning">Adquirir</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<!-- contact section -->
<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2>Contáctanos</h2>
      </div>
      <form action="#" method="post">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10">
          <div class="col-md-6 col-sm-6">
            <input type="text" placeholder="Nombres" class="form-control">
          </div>
          <div class="col-md-6 col-sm-6">
            <input type="text" placeholder="Apellidos" class="form-control">
          </div>
          <div class="col-md-6 col-sm-6">
            <input type="text" placeholder="Dirección" class="form-control">
          </div>
          <div class="col-md-6 col-sm-6">
            <input type="text" placeholder="Ciudad" class="form-control">
          </div>
          <div class="col-md-6 col-sm-6">
            <input type="text" placeholder="Departamento" class="form-control">
          </div>
          <div class="col-md-6 col-sm-6">
            <input type="text" placeholder="Teléfono" class="form-control">
          </div>
          <div class="col-md-12 col-sm-12">
            <input type="email" placeholder="Correo" class="form-control">
          </div>
          <div class="col-md-12 col-sm-12">
            <textarea placeholder="Mensaje" class="form-control" rows="5"></textarea>
          </div>
          <div class="col-md-8 col-sm-8">
            <p>Uno de nuestros asesores se pondrá en contacto contigo, en el menor tiempo posible</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <input type="submit" value="ENVIAR MENSAJE" class="form-control">
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </form>
    </div>
  </div>
</div>
<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<!-- footer section -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h2>Sede</h2>
        <p>Colombia</p>
        <p>Correo: <span>mascotafeliz@gmail.com</span></p>
        <p>Teléfono: <span>123 456789</span></p>
      </div>
      <div class="col-md-6 col-sm-6">
        <h2>Redes sociales</h2>
        <ul class="social-icons">
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-dribbble"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
<!-- copyright section -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <p>Desarrollado por: G5 - Desarrollo Web</p>
      </div>
    </div>
  </div>
</div>
<!-- scrolltop section -->
<a href="#top" class="go-top"><i class="fa fa-angle-up"></i></a>
<!-- javascript js -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/isotope.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>
